extends layout

block content
    // Task: Use flexbox to arrange images
    h1.text-center.text-white Image Gallery
    .container.my-4
        .row
            each image in images
                .col-md-4.mb-4
                    .card.border
                        img.card-img-top(src=image.url, alt=image.title)
                        .card-body
                            h5.card-title= image.title
                            a.btn.btn-primary(href=`/details/${image.id}`) View Details