extends layout

block content
  .container.text-center.mt-5
    h1.text-danger Oops! We're Under Maintenance
    p.text-muted We're currently performing maintenance on our website. Please check back soon.
    img(src='/images/maintenance.jpg', alt='Maintenance Image', style='max-width: 100%;')