nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand(href='/') Image Gallery & User App
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    div#navbarNav.collapse.navbar-collapse.text-white
        ul.navbar-nav
            li.nav-item
                a.nav-link(href='/') Home
            li.nav-item
                a.nav-link(href='/users') Users 
            li.nav-item
                a.nav-link(href='/images') Images
            li.nav-item
                a.nav-link(href='/posts') Posts    

                  li.nav-item
                | 
                //- Add a separator between links and form
            li.nav-item
                //- Add your form here
                form.navbar-form.form-inline.my-2.my-lg-0(action='/submit', method='POST')
                    input.form-control.mr-sm-2(type='text', placeholder='Search', aria-label='Search')
                    button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search